$primary: #ff7a8a;
$secondary: #113a5d;
$terciary: #f9f9f9;

// $primary: #ff008e;
// $secondary: #124e96;
// $terciary: #daeaf6;

// $primary: #2f89fc;
// $secondary: #30e3ca;
// $terciary: #f5f5f5;
